.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.detail-cart {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 294px 440px 286px;
  text-align: center;
}

.detail-cart__item {
  /* margin: auto; */
  text-align: center;
}

.detail-cart__item {
  margin: auto;
}

.detail-cart__img {
  width: 250px;
  height: 250px;
}

.detail-cart__stats {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.detail-cart__chars {
  position: static;
  text-align: start;
  margin-left: 45px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #767272;
}

.detail-cart__chars span {
  color: #000;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  right: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: 0 auto;
  border: 1px solid #888;
  width: 1020px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.shop-cart {
  margin: 150px auto;
  border: 1px solid #888;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  width: 434px;
  border-radius: 5px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  align-items: center;
  display: none;
}

.shop-cart div {
  border-bottom: 0.5px solid #c4c4c4;
}

.shop-cart__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 24px auto 7px;
}

.shop-cart__title-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #767272;
  text-align: center;
  margin-bottom: 36px;
}

.shop-cart__item {
  height: 100%;
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  border: none !important;
}

#shop-cart__holder {
  display: flex;
  flex-direction: column;
}

.shop-cart__item > div {
  display: flex;
  border: none !important;
}

.shop-cart__item-img {
  height: 100px;
  width: 100px;
  margin: 12px 8px 12px 26px;
}

.shop-cart__item-info {
  margin: auto;
  border: none !important;
}

.shop-cart__item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.shop-cart__item-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #4191ff;
  display: inline-block;
  width: 45px;
  height: 19px;
  background: #eaf6ff;
  border-radius: 3px;
  text-align: center;
  padding: 2.5%;
  display: inline-block;
  width: 70px;
}

.shop-cart__item-btns {
  height: 25px;
  margin: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border: none !important;
}

.shop-cart__item-btn {
  width: 20px;
  height: 20px;
  background: #3c44b1;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1px;
  color: #ffffff;
  border: none;
  margin: 0 20px 0;
}

.shop-cart__item-btns span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;
  color: #4191ff;
  align-items: center;
}

.shop-cart__item-close-btn {
  width: 18px;
  height: 18px;
  background: rgba(248, 50, 69, 0.15);
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  color: #f83245;
  border: none;
  padding: 2px 0 3px 0;
}

.shop-cart__amount {
  width: 100%;
  height: 49px;
  background: #eaf6ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 19px;
}

.shop-cart__amount span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767272;
}

.shop-cart__amount span span {
  font-weight: 700;
  color: #000000;
}

.shop-cart__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  width: 250px;
  height: 48px;
  background: #3c44b1;
  border: none;
  border-radius: 10px;
  margin: 0 90px 22px;
}

.header__panel {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  position: relative;
}

.header__panel__logo {
  width: 120px;
  margin: 15px 0 0 0;
}

.header__panel__cart {
  width: 35px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 0 0 0;
  padding: 2.7px;
}

#cartAmount {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 24px;
  top: 35px;
  border-radius: 50%;
  background: #0e49b5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  color: #ffffff;
  display: none;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.header__banner__slideshow-container {
  width: 1024px;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
  position: relative;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.header__banner__image {
  display: flex;
  flex-direction: column;
  margin: 25px auto 0;
  height: 512px;
  width: 100%;
}

.header__banner__title {
  margin: 190px auto 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
  position: absolute;
  bottom: 240px;
  width: 100%;
  text-align: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.473);
}

.add-cart-btn {
  margin: 22px auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  width: 150px;
  height: 50px;
  background: #0e49b5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-cart-btn_detail-cart {
  margin: 0 auto;
}

.header__banner__title__btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 140px;
  text-align: center;
}

.search-panel {
  margin: 20px auto 0;
}

.search-panel__input {
  width: 1024px;
  height: 59.87px;
  left: 238px;
  top: 602px;
  background: #ffffff;
  border: 1px solid #dddada;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.search-panel {
  margin: 40px auto;
}
.search-panel__form {
  width: 1024px;
  height: 60px;
  left: 238px;
  top: 602px;

  background: #ffffff;
  border: 1px solid #dddada;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 0;
}

.search-area {
  outline: none;
  border: none;
  resize: none;
  flex: 1 0 0;
  padding-left: 55px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-image: url("/img/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: #ffffff;
  background-position: 17px 18px;
  opacity: 0.5;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767272;
}

.search-area:focus {
  outline: none;
}

.search-btn {
  width: 40px;
  height: 40px;
  margin: 8px 6px;
  background: #0e49b5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search-btn svg {
  width: 25px;
  height: 25px;
  fill: #ffffff;
  margin-top: 3px;
}

.search-categories {
  width: 288px;
  height: 108px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 5;
  display: none;
}

.search-categories-inputs {
  display: flex;
  flex-direction: row;
  margin: 14px auto;
  justify-content: space-around;
}

.search-categories-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0e49b5;
  display: flex;
  flex-direction: column;
}

.search-categories-input {
  width: 88px;
  height: 26px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  margin-top: 14px;
  outline: none;
}

.search-categories-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
  padding-left: 5px;
}

.search-results-btn-cont {
  width: 100%;
  height: 39px;
  background: #edf3ff;
  border-radius: 0px 0px 5px 5px;
}

.search-results-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  background: #0e49b5;
  border-radius: 5px;
  width: 84px;
  height: 19px;
  margin: 10px 95px;
  border: none;
}

.search-sort {
  width: 162px;
  left: 1100px;
  top: 670px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 65px;
  left: 862px;
  display: none;
  z-index: 5;
}

.search-sorting-btns {
  display: flex;
  flex-direction: column;
}

.search-sorting-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0e49b5;
  margin: 12px 12px 15px;
}

.search-sort-default-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #102243;
  background: #edf3ff;
  border-radius: 15px;
  border: none;
  width: 139px;
  height: 24px;
  margin: 0 auto 12px;
}

.search-sort-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #102243;
  background: #ffffff;
  border-radius: 15px;
  border: none;
  margin: 0 auto 12px;
}

.sort-asc-btn::before {
  content: url(/img/icons/arrow_left.svg);
  position: absolute;
  transform: rotate(-90deg);
  left: 20px;
  top: 70px;
}

.sort-desc-btn::before {
  content: url(/img/icons/arrow_left.svg);
  position: absolute;
  transform: rotate(90deg);
  left: 16px;
  bottom: 7px;
}

.main {
  margin: 30px auto 0;
  display: flex;
}

.item-box {
  width: 300px;
  height: 480px;
  background: #ffffff;
  border: 1px solid #dddada;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.accordion {
  position: relative;
  background-color: rgb(238, 238, 238);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  height: 50.89px;
  border-radius: 10px;
}

.active,
.accordion:hover {
  background-color: #eee;
}

.accordion:after {
  content: url(/img/icons/arrow_left.svg);
  position: absolute;
  top: 15px;
  right: 10px;
}

.active:after {
  content: url(/img/icons/arrow_left.svg);
  transform: rotate(90deg);
  transition: max-height 0.2s ease-out;
  position: absolute;
  top: 15px;
  right: 10px;
}

.filter-panel {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1px;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .filter-panel__item-price {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1 1;
} */

.filter-panel__item {
  width: 323px;
  display: grid;
}

.filter-panel__item-price {
  width: 323px;
  display: flex;
  flex-direction: column;
}

.filter-panel__price-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  align-items: center;
}

.filter-panel__price-item input {
  display: block;
  display: flex;
  flex-direction: column;
}

.detail-cart__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #3b3e66;
  margin: 0 auto 23px;
}

.item-stock-left {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #3b3e66;
  margin-bottom: 31px;
}

.item-stock-left span {
  font-weight: 800;
}

.filter-panel__price-label {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.panel__price-value {
  text-align: end;
}

.filter-panel__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 55px;
  color: #000000;
}

.filter-panel__area {
  width: 170px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-right: 30px;
  text-align: center;
}

.filter-panel__area:focus {
  outline: none;
}

.filter-panel__area::-webkit-outer-spin-button,
.filter-panel__area::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.filter-panel__area input[type="number"] {
  -moz-appearance: textfield;
}

.filter-panel__block {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  background: rgba(226, 226, 226, 0.05);
  border: 1px solid #dddada46;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.filter-panel__block-price {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  background: rgba(226, 226, 226, 0.05);
  border: 1px solid #dddada46;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin: 2px;
}

.filter-panel__input {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-panel__checkbox {
  padding-left: 45px;
  padding-top: 18px;
}

.filter-panel__item-price-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-panel__item input {
  position: absolute;
  display: none;
  cursor: pointer;
}

/* Create a custom radio button */
.filter-panel__checkmark {
  position: absolute;
  top: 11px;
  left: 20px;
  height: 15px;
  width: 15px;
  background-color: rgba(66, 66, 66, 0.1);
  border: 1px solid rgba(66, 66, 66, 0.274);
  border-radius: 30%;
}

.filter-panel input:checked ~ .filter-panel__checkmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-panel__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.filter-panel input:checked ~ .filter-panel__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-panel .filter-panel__checkmark:after {
  left: 3px;
  width: 7px;
  height: 10px;
  border: solid rgba(0, 0, 0, 0.664);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-panel__checkmarks {
  position: absolute;
  height: 250px;
  width: 150px;
  background-color: rgba(66, 66, 66, 0.1);
  border: 1px solid rgba(66, 66, 66, 0.274);
  border-radius: 10%;
}

.filter-panel input:checked ~ .filter-panel__checkmarks {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-panel__checkmarks:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.filter-panel input:checked ~ .filter-panel__checkmarks:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-panel .filter-panel__checkmarks:after {
  left: 3px;
  width: 7px;
  height: 10px;
  border: solid rgba(0, 0, 0, 0.664);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.filter-panel:after {
  content: "";
  position: absolute;
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 50px;
  grid-row-gap: 60px;
  margin-left: 27px;
}

.item-box {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 0 auto;
  position: relative;
}

.item-box * {
  display: block;
  margin: 0 auto;
}

.item-box__like {
  border: none;
  background-color: #ffffff;
  margin: 15px 0 0 250px;
}

.item-box__img {
  width: 200px;
  height: 200px;
}

.item-box__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.item-box__title-detail-cart {
  color: #3b3e66;
  margin-right: 160px;
  margin-bottom: 21px;
}

.item-box__status {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #767272;
  text-align: center;
  margin-top: 10px;
}

.item-box__status span {
  font-weight: 700;
  display: inline;
}

.item-box__amount {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.item-box__amount span {
  margin: 0 2%;
}

.item-stockleft-icon {
  display: inline-block;
  margin: 5px;
  text-align: center;
  height: 17px;
  width: 17px;
}

.item-stockleft-icon-is {
  border: 1px solid green;
  border-radius: 50%;
}

.item-stockleft-icon-none {
  border: none;
}

.item-box__price {
  margin: 10px;
}

.item-box__stats {
  position: absolute;
  display: flex;
  justify-content: space-between;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3b3e66;

  padding: 20px;
  width: 100%;
  height: 86px;
  margin-top: 24px;
  text-align: center;
  background: #dae2ea;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
}

.item-box__stats-detail-cart {
  position: relative;
  padding: 20px 40px;
  margin: 0 auto 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
}

.item-box__reviews {
  text-align: start;
}

.item-box__reviews span {
  font-weight: 700;
  display: inline;
}

.item-box__reviews:first-child::before {
  content: url(/img/icons/red-heart-icon.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 17px;
  bottom: 44px;
  margin-right: 5px;
}

.detail-cart__rewiev:first-child::before {
  position: absolute;
  width: 16.67px;
  height: 15.29px;
  left: 15px;
  top: 23px;
}

.item-box__orders {
  text-align: center;
}

.item-box__orders span {
  font-weight: 700;
  display: inline;
}

.item-box__btn-active {
  margin: 10px auto;
}

.item-box__btn-disable {
  margin: 10px auto;
  background: #dddddd;
}
